* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#menu {
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #0277B5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    margin-left: 6em;
    width: 80px;
    height: 45px;
}

#menu ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
}

#menu ul li {
    padding: 1em;
    margin: 0 .5em; 
    white-space: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
}

#menu ul li:hover {
    background-color: #FAF4F4;
}

#menu ul li:hover a {
    color: #0277B5;
}

footer {
    background-color: #0874b4;
    text-align: center;
    padding: 20px 0;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos dos Elementos do Rodapé */
.left-side {
    order: 1;
    margin-right: 10px;
    color: white;
    font-size: 21px;  
    padding-right: 20px;
}  
.right-side {
    order: 3;
    border-left: 5px solid silver;
    padding-left: 30px;
}

/* Estilos do Formulário do Rodapé */
#form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-line input{
    flex: 1;
    margin: 5px;
    padding: 8px;
}

#footer-assunto {
    flex: 1;
    margin: 5px;
    padding: 8px;
    margin-top: -10px;
}

textarea {
    flex: 1;
    margin: 5px;
    padding: 8px;
    resize: vertical; /* Permite redimensionamento apenas vertical */
}

#btn-enviar {
    margin: 6px 7px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    color: #007bff;
    border: none;
    cursor: pointer;
}

.form-line:last-child {
    margin-bottom: 0;
}
* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#menu {
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #0277B5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    margin-left: 6em;
    width: 80px;
    height: 45px;
}

#menu ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
}

#menu ul li {
    padding: 1em;
    margin: 0 .5em; 
    white-space: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
}

#menu ul li:hover {
    background-color: #FAF4F4;
}

#menu ul li:hover a {
    color: #0277B5;
}

