
* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#menu {
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #0277B5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    margin-left: 6em;
    width: 80px;
    height: 45px;
}

#menu ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
}

#menu ul li {
    padding: 1em;
    margin: 0 .5em; 
    white-space: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
}

#menu ul li:hover {
    background-color: #FAF4F4;
}

#menu ul li:hover a {
    color: #0277B5;
}

footer {
    background-color: #0874b4;
    text-align: center;
    padding: 20px 0;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos dos Elementos do Rodapé */
.left-side {
    order: 1;
    margin-right: 10px;
    color: white;
    font-size: 21px;  
    padding-right: 20px;
}  
.right-side {
    order: 3;
    border-left: 5px solid silver;
    padding-left: 30px;
}

/* Estilos do Formulário do Rodapé */
#form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-line input{
    flex: 1;
    margin: 5px;
    padding: 8px;
}

#footer-assunto {
    flex: 1;
    margin: 5px;
    padding: 8px;
    margin-top: -10px;
}

textarea {
    flex: 1;
    margin: 5px;
    padding: 8px;
    resize: vertical; /* Permite redimensionamento apenas vertical */
}

#btn-enviar {
    margin: 6px 7px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    color: #007bff;
    border: none;
    cursor: pointer;
}

.form-line:last-child {
    margin-bottom: 0;
}
* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#menu {
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #0277B5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    margin-left: 6em;
    width: 80px;
    height: 45px;
}

#menu ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
}

#menu ul li {
    padding: 1em;
    margin: 0 .5em; 
    white-space: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
}

#menu ul li:hover {
    background-color: #FAF4F4;
}

#menu ul li:hover a {
    color: #0277B5;
}

/* Inicio CSS Topico dos professores*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');
#professors-container{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
#professors-container-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    color: #0277B5;
    font-size: 20px;
}
#cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.card-professor {
    display: flex;
    flex-direction: column;
    background-color: #908b8b;
    border-radius: 15px;
    width: 20%;
    height: fit-content;
    margin-right: 1.5%;
    align-items: center;
}
.card-img-professor {
    width: 60px;
    height: 60px;
    margin-top: 3%;
    border-image: 30px;
    border-radius: 50%;
}
.card-links img{
    margin-top: 3%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.card-nome-professor{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.card-info-professor{
    text-align: center;
    font-size: 20px;
    color: #fff;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}
.card-links {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Fim CSS Topico dos professores*/

h1{
    margin-bottom: 40px;
}

.container {
    background-color: #c1e0fa; 
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 4);
    text-align: center;
}
.card {
    text-align: left;
    width: 500px; 
    height: 35px;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px; 
    background-color: #1468a0; 
    color: #fff; 
    text-decoration: none; 
}

#card-transformacao{
    background-color:#499ac9 ;
}

#card-aprendizado{
    margin-bottom: 40px;
}